.q-resizer {
    position: relative;
    width: 6px;
    background: transparent;
    cursor: col-resize;

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: col-resize!important;
    }

    &--horizontal {
        width: 100%;
        height: 6px;
        cursor: row-resize!important;
    }
}

