[theme=gray100], .q-dark-100 {
  --q-interactive-01: #0f62fe;
  --q-interactive-02: #6f6f6f;
  --q-interactive-03: #fff;
  --q-interactive-04: #4589ff;
  --q-ui-background: #161616;
  --q-ui-01: #262626;
  --q-ui-02: #393939;
  --q-ui-03: #393939;
  --q-ui-04: #6f6f6f;
  --q-ui-05: #f4f4f4;
  --q-text-01: #f4f4f4;
  --q-text-02: #c6c6c6;
  --q-text-03: #6f6f6f;
  --q-text-04: #fff;
  --q-text-05: #8d8d8d;
  --q-text-error: #ff8389;
  --q-icon-01: #f4f4f4;
  --q-icon-02: #c6c6c6;
  --q-icon-03: #fff;
  --q-link-01: #78a9ff;
  --q-link-02: #a6c8ff;
  --q-inverse-link: #0f62fe;
  --q-field-01: #262626;
  --q-field-02: #393939;
  --q-inverse-01: #161616;
  --q-inverse-02: #f4f4f4;
  --q-support-01: #fa4d56;
  --q-support-02: #42be65;
  --q-support-03: #f1c21b;
  --q-support-04: #4589ff;
  --q-inverse-support-01: #da1e28;
  --q-inverse-support-02: #24a148;
  --q-inverse-support-03: #f1c21b;
  --q-inverse-support-04: #0f62fe;
  --q-overlay-01: rgba(0,0,0,0.65);
  --q-danger-01: #da1e28;
  --q-danger-02: #fa4d56;
  --q-focus: #fff;
  --q-inverse-focus-ui: #0f62fe;
  --q-hover-primary: #0353e9;
  --q-active-primary: #002d9c;
  --q-hover-primary-text: #a6c8ff;
  --q-hover-secondary: #606060;
  --q-active-secondary: #393939;
  --q-hover-tertiary: #f4f4f4;
  --q-active-tertiary: #c6c6c6;
  --q-hover-ui: #353535;
  --q-hover-light-ui: #4c4c4c;
  --q-hover-selected-ui: #4c4c4c;
  --q-active-ui: #525252;
  --q-active-light-ui: #6f6f6f;
  --q-selected-ui: #393939;
  --q-selected-light-ui: #525252;
  --q-inverse-hover-ui: #e5e5e5;
  --q-hover-danger: #b81921;
  --q-active-danger: #750e13;
  --q-hover-row: #353535;
  --q-visited-link: #be95ff;
  --q-disabled-01: #262626;
  --q-disabled-02: #525252;
  --q-disabled-03: #8d8d8d;
  --q-highlight: #002d9c;
  --q-decorative-01: #525252;
  --q-button-separator: #161616;
  --q-skeleton-01: #353535;
  --q-skeleton-02: #525252;
  --q-background: #161616;
  --q-layer: #262626;
  --q-layer-accent: #393939;
  --q-layer-accent-hover: #474747;
  --q-layer-accent-active: #6f6f6f;
  --q-field: #262626;
  --q-background-inverse: #f4f4f4;
  --q-background-brand: #0f62fe;
  --q-interactive: #4589ff;
  --q-border-subtle: #393939;
  --q-border-strong: #6f6f6f;
  --q-border-inverse: #f4f4f4;
  --q-border-interactive: #4589ff;
  --q-text-primary: #f4f4f4;
  --q-text-secondary: #c6c6c6;
  --q-text-placeholder: #6f6f6f;
  --q-text-helper: #8d8d8d;
  --q-text-on-color: #fff;
  --q-text-inverse: #161616;
  --q-link-primary: #78a9ff;
  --q-link-secondary: #a6c8ff;
  --q-link-visited: #be95ff;
  --q-link-inverse: #0f62fe;
  --q-icon-primary: #f4f4f4;
  --q-icon-secondary: #c6c6c6;
  --q-icon-on-color: #fff;
  --q-icon-inverse: #161616;
  --q-support-error: #fa4d56;
  --q-support-success: #42be65;
  --q-support-warning: #f1c21b;
  --q-support-info: #4589ff;
  --q-support-error-inverse: #da1e28;
  --q-support-success-inverse: #24a148;
  --q-support-warning-inverse: #f1c21b;
  --q-support-info-inverse: #0f62fe;
  --q-overlay: rgba(0,0,0,0.65);
  --q-toggle-off: #6f6f6f;
  --q-shadow: rgba(0,0,0,0.8);
  --q-button-primary: #0f62fe;
  --q-button-secondary: #6f6f6f;
  --q-button-tertiary: #fff;
  --q-button-danger-primary: #da1e28;
  --q-button-danger-secondary: #fa4d56;
  --q-background-active: #525252;
  --q-layer-active: #525252;
  --q-button-danger-active: #750e13;
  --q-button-primary-active: #002d9c;
  --q-button-secondary-active: #393939;
  --q-button-tertiary-active: #c6c6c6;
  --q-focus-inset: #161616;
  --q-focus-inverse: #0f62fe;
  --q-background-hover: #353535;
  --q-layer-hover: #353535;
  --q-field-hover: #353535;
  --q-background-inverse-hover: #e5e5e5;
  --q-link-primary-hover: #a6c8ff;
  --q-button-danger-hover: #b81921;
  --q-button-primary-hover: #0353e9;
  --q-button-secondary-hover: #606060;
  --q-button-tertiary-hover: #f4f4f4;
  --q-background-selected: #393939;
  --q-background-selected-hover: #4c4c4c;
  --q-layer-selected: #393939;
  --q-layer-selected-hover: #4c4c4c;
  --q-layer-selected-inverse: #f4f4f4;
  --q-border-subtle-selected: #525252;
  --q-border-disabled: #262626;
  --q-text-disabled: #525252;
  --q-button-disabled: #525252;
  --q-icon-disabled: #525252;
  --q-text-on-color-disabled: #8d8d8d;
  --q-icon-on-color-disabled: #8d8d8d;
  --q-layer-selected-disabled: #8d8d8d;
  --q-skeleton-background: #353535;
  --q-skeleton-element: #525252;
  --q-brand-01: #0f62fe;
  --q-brand-02: #6f6f6f;
  --q-brand-03: #fff;
  --q-active-01: #525252;
  --q-hover-field: #353535;
  --q-danger: #da1e28;
}