[theme=gray10] {
  --q-interactive-01: #0f62fe;
  --q-interactive-02: #393939;
  --q-interactive-03: #0f62fe;
  --q-interactive-04: #0f62fe;
  --q-ui-background: #f4f4f4;
  --q-ui-01: #fff;
  --q-ui-02: #f4f4f4;
  --q-ui-03: #e0e0e0;
  --q-ui-04: #8d8d8d;
  --q-ui-05: #161616;
  --q-text-01: #161616;
  --q-text-02: #525252;
  --q-text-03: #a8a8a8;
  --q-text-04: #fff;
  --q-text-05: #6f6f6f;
  --q-text-error: #da1e28;
  --q-icon-01: #161616;
  --q-icon-02: #525252;
  --q-icon-03: #fff;
  --q-link-01: #0f62fe;
  --q-link-02: #0043ce;
  --q-inverse-link: #78a9ff;
  --q-field-01: #fff;
  --q-field-02: #f4f4f4;
  --q-inverse-01: #fff;
  --q-inverse-02: #393939;
  --q-support-01: #da1e28;
  --q-support-02: #198038;
  --q-support-03: #f1c21b;
  --q-support-04: #0043ce;
  --q-inverse-support-01: #fa4d56;
  --q-inverse-support-02: #42be65;
  --q-inverse-support-03: #f1c21b;
  --q-inverse-support-04: #4589ff;
  --q-overlay-01: rgba(22,22,22,0.5);
  --q-danger-01: #da1e28;
  --q-danger-02: #da1e28;
  --q-focus: #0f62fe;
  --q-inverse-focus-ui: #fff;
  --q-hover-primary: #0353e9;
  --q-active-primary: #002d9c;
  --q-hover-primary-text: #0043ce;
  --q-hover-secondary: #4c4c4c;
  --q-active-secondary: #6f6f6f;
  --q-hover-tertiary: #0353e9;
  --q-active-tertiary: #002d9c;
  --q-hover-ui: #e5e5e5;
  --q-hover-light-ui: #e5e5e5;
  --q-hover-selected-ui: #cacaca;
  --q-active-ui: #c6c6c6;
  --q-active-light-ui: #c6c6c6;
  --q-selected-ui: #e0e0e0;
  --q-selected-light-ui: #e0e0e0;
  --q-inverse-hover-ui: #4c4c4c;
  --q-hover-danger: #b81921;
  --q-active-danger: #750e13;
  --q-hover-row: #e5e5e5;
  --q-visited-link: #8a3ffc;
  --q-disabled-01: #fff;
  --q-disabled-02: #c6c6c6;
  --q-disabled-03: #8d8d8d;
  --q-highlight: #d0e2ff;
  --q-decorative-01: #e0e0e0;
  --q-button-separator: #e0e0e0;
  --q-skeleton-01: #e5e5e5;
  --q-skeleton-02: #c6c6c6;
  --q-background: #f4f4f4;
  --q-layer: #fff;
  --q-layer-accent: #e0e0e0;
  --q-layer-accent-hover: #d1d1d1;
  --q-layer-accent-active: #a8a8a8;
  --q-field: #fff;
  --q-background-inverse: #393939;
  --q-background-brand: #0f62fe;
  --q-interactive: #0f62fe;
  --q-border-subtle: #e0e0e0;
  --q-border-strong: #8d8d8d;
  --q-border-inverse: #161616;
  --q-border-interactive: #0f62fe;
  --q-text-primary: #161616;
  --q-text-secondary: #525252;
  --q-text-placeholder: #a8a8a8;
  --q-text-helper: #6f6f6f;
  --q-text-on-color: #fff;
  --q-text-inverse: #fff;
  --q-link-primary: #0f62fe;
  --q-link-secondary: #0043ce;
  --q-link-visited: #8a3ffc;
  --q-link-inverse: #78a9ff;
  --q-icon-primary: #161616;
  --q-icon-secondary: #525252;
  --q-icon-on-color: #fff;
  --q-icon-inverse: #fff;
  --q-support-error: #da1e28;
  --q-support-success: #198038;
  --q-support-warning: #f1c21b;
  --q-support-info: #0043ce;
  --q-support-error-inverse: #fa4d56;
  --q-support-success-inverse: #42be65;
  --q-support-warning-inverse: #f1c21b;
  --q-support-info-inverse: #4589ff;
  --q-overlay: rgba(22,22,22,0.5);
  --q-toggle-off: #8d8d8d;
  --q-shadow: rgba(0,0,0,0.3);
  --q-button-primary: #0f62fe;
  --q-button-secondary: #393939;
  --q-button-tertiary: #0f62fe;
  --q-button-danger-primary: #da1e28;
  --q-button-danger-secondary: #da1e28;
  --q-background-active: #c6c6c6;
  --q-layer-active: #c6c6c6;
  --q-button-danger-active: #750e13;
  --q-button-primary-active: #002d9c;
  --q-button-secondary-active: #6f6f6f;
  --q-button-tertiary-active: #002d9c;
  --q-focus-inset: #fff;
  --q-focus-inverse: #fff;
  --q-background-hover: #e5e5e5;
  --q-layer-hover: #e5e5e5;
  --q-field-hover: #e5e5e5;
  --q-background-inverse-hover: #4c4c4c;
  --q-link-primary-hover: #0043ce;
  --q-button-danger-hover: #b81921;
  --q-button-primary-hover: #0353e9;
  --q-button-secondary-hover: #4c4c4c;
  --q-button-tertiary-hover: #0353e9;
  --q-background-selected: #e0e0e0;
  --q-background-selected-hover: #cacaca;
  --q-layer-selected: #e0e0e0;
  --q-layer-selected-hover: #cacaca;
  --q-layer-selected-inverse: #161616;
  --q-border-subtle-selected: #c6c6c6;
  --q-border-disabled: #fff;
  --q-text-disabled: #c6c6c6;
  --q-button-disabled: #c6c6c6;
  --q-icon-disabled: #c6c6c6;
  --q-text-on-color-disabled: #8d8d8d;
  --q-icon-on-color-disabled: #8d8d8d;
  --q-layer-selected-disabled: #8d8d8d;
  --q-skeleton-background: #e5e5e5;
  --q-skeleton-element: #c6c6c6;
  --q-brand-01: #0f62fe;
  --q-brand-02: #393939;
  --q-brand-03: #0f62fe;
  --q-active-01: #c6c6c6;
  --q-hover-field: #e5e5e5;
  --q-danger: #da1e28;
}