/* form.scss */

.form {
    padding-bottom: 14px;
}
.form--border {
    border: solid 1px #dddddd;
}
.form-row:before, .form-row:after {content:" ";display:table;} 
.form-row:after{clear:both;}

.form-col_1_of_1,
.form-col_1_of_2,
.form-col_2_of_2,
.form-col_1_of_3,
.form-col_2_of_3,
.form-col_3_of_3,
.form-col_1_of_4,
.form-col_2_of_4,
.form-col_3_of_4,
.form-col_4_of_4 {
    position: relative;
    min-height: 1px;
    float: left;
}

.form-padding .form-col_1_of_1,
.form-padding .form-col_1_of_2,
.form-padding .form-col_2_of_2,
.form-padding .form-col_1_of_3,
.form-padding .form-col_2_of_3,
.form-padding .form-col_3_of_3,
.form-padding .form-col_1_of_4,
.form-padding .form-col_2_of_4,
.form-padding .form-col_3_of_4,
.form-padding .form-col_4_of_4 {
    padding: 14px 7px 0px 7px;
}

.form-col_1_of_1, .form-col_2_of_2, .form-col_3_of_3, .form-col_4_of_4 { width:100%; }
.form-col_1_of_2, .form-col_2_of_4 { width:50%; } 
.form-col_1_of_2.form-col_center,
.form-col_2_of_4.form-col_center { width:100%; } 
.form-col_1_of_3 { width:33.26%; }
.form-col_2_of_3 { width:66.13%; }
.form-col_1_of_4 { width:25%; }
.form-col_3_of_4 { width:74.6%; }

/* dispositivo < 960px */
@media screen and (max-width: 960px) {
    .form-col_1_of_2, .form-col_1_of_3, .form-col_2_of_3, .form-col_1_of_4{width:50%}
    .form-col_1_of_2.form-col_center, 
    .form-col_1_of_3.form-col_center, 
    .form-col_2_of_3.form-col_center, 
    .form-col_1_of_4.form-col_center {width:100%}
    .form-col_2_of_2, .form-col_3_of_3, .form-col_1_of_3:nth-child(3), .form-col_2_of_4, .form-col_3_of_4, .form-col_4_of_4{width:100%!important;}
}

/* dispositivo < 720px */
@media screen and (max-width: 720px) {
    .form-col_1_of_2, .form-col_2_of_2, .form-col_1_of_3, .form-col_2_of_3, .form-col_3_of_3, .form-col_1_of_4, .form-col_2_of_4, .form-col_3_of_4, .form-col_4_of_4{width:100%;}
}
