

@mixin grid-style($size) {
  @for $i from 1 through 12 {
    .grid-#{$size}#{$i} {
      display: grid;
      border-color: var(--q-ui-01);
      border-style: solid;
      border-width: 1px;
      grid-template-columns: repeat($i, 1fr);
      padding: 0 6px 6px 0;
    }
  }
}

@include grid-style("");
.size-xs {@include grid-style("xs-");}
.size-sm {@include grid-style("sm-");}
.size-md {@include grid-style("md-");}
.size-xl {@include grid-style("xl-");}

.grid__cell {
  position: relative;
  border-color: var(--q-ui-01);
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 8px;
  margin: 6px 0 0 6px;
}