//
//    +----------------------------------------------+
//    |                xl (>1920)                    |
//    |   +--------------------------------------+   |
//    |   |            lg (<1920)                |   |
//    |   |   +------------------------------+   |   |
//    |   |   |         md (<1439)           |   |   |
//    |   |   |   +----------------------+   |   |   |
//    |   |   |   |     sm (<1024)       |   |   |   |
//    |   |   |   |   +-------------+    |   |   |   |
//    |   |   |   |   |  xs (<600)  |    |   |   |   |
//    |   |   |   |   +-------------+    |   |   |   |
//    |   |   |   +----------------------+   |   |   |
//    |   |   +------------------------------+   |   |
//    |   +--------------------------------------+   |
//    +----------------------------------------------+
//

@use "sass:math";
@import "./vars.scss";

.row, .col {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    &.align-start {
        align-items: flex-start;
    }
    &.align-center {
        align-items: center;
    }
    &.align-end {
        justify-items: flex-end;
    }

    &.justify-start {
        justify-content: flex-start;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-end {
        justify-content: flex-end;
    }
    &.justify-around {
        justify-content: space-around;
    }
    &.justify-between {
        justify-content: space-between;
    }
    &.justify-evenly {
        justify-content: space-evenly;
    }

    .self-start {
        align-self: flex-start;
    }
    .self-center {
        align-self: center;
    }
    .self-end {
        align-self: flex-end;
    }
    .self-stretch {
        align-self: stretch;
    }
}

.col{
    flex-direction:column;
}

.col-gap {
    column-gap: 25px;
}

@for $i from 1 through 12 {.col-#{$i} { width: (math.div(100, 12) * $i) * 1%; }}

@media (max-width: ($xs-max - 0.02)) {
    .xs-hide, .gt-xs, .sm, .gt-sm, .md, .gt-md, .lg, .gt-lg, .xl {display: none !important}
    @for $i from 1 through 12 {
        .col-xs-#{$i},
        .col-lt-sm-#{$i},
        .col-lt-md-#{$i},
        .col-lt-lg-#{$i},
        .col-lt-xl-#{$i}
         {
            width: (math.div(100, 12) * $i) * 1%; 
        }
    }
}
@media (min-width: $xs-max) and (max-width: ($sm-max - 0.02)) {
    .sm-hide, .xs, .lt-sm, .gt-sm, .md, .gt-md, .lg, .gt-lg, .xl {display: none !important}
    @for $i from 1 through 12 {
        .col-sm-#{$i},
        .col-lt-md-#{$i},
        .col-lt-lg-#{$i},
        .col-lt-xl-#{$i}
        {
            width: (math.div(100, 12) * $i) * 1%;
        }
    }
}
@media (min-width: $sm-max) and (max-width: ($md-max - 0.02)) {
    .md-hide, .xs, .lt-sm, .sm, .lt-md, .gt-md, .lg, .gt-lg, .xl {display: none !important}
    @for $i from 1 through 12 {
        .col-md-#{$i},
        .col-lt-lg-#{$i},
        .col-lt-xl-#{$i} {
            width: (math.div(100, 12) * $i) * 1%; 
        }
    }
}
@media (min-width: $md-max) and (max-width: ($lg-max - 0.02)) {
    .lg-hide, .xs, .lt-sm, .sm, .lt-md, .md, .lt-lg, .gt-lg, .xl {display: none !important}
    @for $i from 1 through 12 {
        .col-lg-#{$i},
        .col-lt-xl-#{$i} { 
            width: (math.div(100, 12) * $i) * 1%; 
        }
    }
}
@media (min-width: $lg-max) {
    .xl-hide, .xs, .lt-sm, .sm, .lt-md, .md, .lt-lg, .lg, .lt-xl {display: none !important}
    @for $i from 1 through 12 {
        .col-xl-#{$i} { 
            width: (math.div(100, 12) * $i) * 1%; 
        }
    }
}

.no-wrap {
    flex-wrap: nowrap;
}

.shadow {
    box-shadow: 0 2px 6px 0 var(--q-shadow);
}